@media (max-width: 1350px) {
  .grid-input .card p {
    font-size: 0.6em;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding: 0px 10px;
    text-align: justify;
    /* color: rgba(19, 19, 19, 0.986); */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .container #logoh4 {
    top: -1%;
  }
}

@media (max-width: 1350px) and (max-height: 750px) {
  .grid-container {
    height: 90%;
  }

  .grid-fake {
    height: 90%;
  }
}

@media (max-width: 1130px) {
  .main-image .text-left h2 {
    font-size: 2.7rem;
  }
}

@media (max-width: 1024px) {
  .container #logoh4 {
    top: 0%;
  }

  .grid-container {
    width: 95%;
    /* height: 80%; */
  }

  .grid-fake {
    width: 95%;
    /* height: 80%; */
  }
  .main-image img {
    width: 80%;
  }
  #myMoney {
    /* width: 10vw; */
    width: 200px;
    position: absolute;
    transform: translate(-50%);
    bottom: 16%;
    left: 20%;
    z-index: 50;
  }

  .main-image .text-left h2 {
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 3rem;
    font-weight: bold;
  }
  .container-inputs {
    width: 80%;
    margin-right: 10px;

    /* overflow: hidden; */
  }
  .main-image .text-left span {
    text-align: center;
    width: 100%;
    font-weight: 500;
    margin-top: 10px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 1.2rem;
  }

  .grid-input {
    width: 98%;
    height: 100%;
  }
  .grid-input .card {
    width: 98%;
    height: 100%;
  }
  .grid-input .card p {
    font-size: 0.6em;
  }

  .grid-input .card img {
    width: 25%;
    height: 25%;
  }
}

@media (max-width: 900px) {
  .container #by {
    top: 95%;
    left: 50%;
    /* width: 27%; */
  }

  .container #logoh4 {
    top: -1%;
    width: 20vw;
    padding-top: 10px;
  }
  .grid-container {
    flex-direction: column;
    width: 90%;
    height: 90%;
  }
  .grid-fake {
    width: 90%;
    height: 90%;
  }

  .grid-fake .wave {
    position: absolute;
    border-radius: 8px;
    bottom: 0;
  }

  .container-inputs {
    width: 90%;
    height: 80%;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow-y: auto;

    /* overflow: hidden; */
  }

  .main-image {
    width: 100%;
    height: 25%;
  }

  .main-image img {
    width: 16%;
  }

  #myMoney {
    padding: 5px 0px;
    font-size: 1.4em;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%);
    top: 27%;
    left: 50%;
    z-index: 50;
  }

  .main-image .text-left h2 {
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 2.2rem;
    font-weight: bold;
    padding-top: 25px;
  }

  .main-image .text-left span {
    font-size: 0.9rem;
  }

  .grid-input .card p {
    font-size: 0.5em;
  }
}

@media (max-width: 650px) {
  .container #by {
    top: 10.2%;
    left: 50%;
    /* width: 27%; */
  }
  #myMoney {
    width: 80%;
    top: 143%;
    left: 50%;
  }
  .container #logoh4 {
    top: 2%;
    width: 35vw;
    padding-top: 10px;
  }
  .grid-container {
    margin-top: 200px;
    margin-bottom: 50px;
    height: 200vh;
    overflow-y: auto;
    position: absolute;
    bottom: -116%;
  }
  .main-image {
    width: 100%;
    height: 70vh;
    position: relative;
  }

  .main-image img {
    width: 40%;
    margin-bottom: 50px;
  }
  .grid-fake {
    display: none;
    /* overflow-y: auto; */
  }

  .container-inputs {
    width: 90%;
    height: 100%;
    margin: 0px;
    /* margin-bottom: 100px; */
    position: relative;
    overflow: hidden;
  }
  .container-inputs .grid-input {
    /* margin-top: 20px; */
    display: grid;
    /* height: 85%; */
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    overflow-y: auto;
    margin-bottom: 50px;
  }

  .container-inputs .grid-input .card {
    width: 100%;
    height: 100%;
  }

  .container-inputs .grid-input :last-child {
    margin-bottom: 20px;
  }

  .container-inputs button {
    display: none;
  }

  .main-image .text-left h2 {
    padding-top: 45px;
  }

  .grid-input #calcButton {
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 1;
  }

  .grid-input #calcButton button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8743cc;
    background-color: #fff;
    width: 98%;
    height: 50px;
    color: rgb(29, 6, 32);
    font-size: 1.2em;
    font-family: sans-serif;
    letter-spacing: 2.5px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    margin-right: 0px;
  }
  .grid-input #calcButton button:hover {
    cursor: pointer;
    background-color: #8743cc;
    /* filter: brightness(0.7); */
    color: #fff;
  }
}
